.widget-group-item {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 0.45rem;
}

.widget-container {
    position: relative;
    padding: 1em;
    border: 1px solid #d8d8d8;
    margin: 1.5rem 1.5rem;
    max-width: 300px;
}

body, p, label {
    font-family: "Helvetica Neue";
}