.sidebar {
    width: 100vw;
    display: flex;
}

.list-unstyled {
    display: flex;
    align-items: center;
    height: 100%;
}

.list-unstyled li {
    margin: 0 10px;
}

.sidebar-header {
    margin: 10px 10px;
}
